* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font-size: 16px; */
  font-size: 62.5%; /* = 10px */
}

body {
  background: #ECE9FD;
  padding: 6.0rem 2.3rem 6.6rem;

  font-family: 'Epilogue', sans-serif;
  font-size: 1.6rem;
}

main {
  max-width: 33rem;
  margin: 0 auto;
  height: 74.4rem;
}

p {
  line-height: 3.2rem;
}

main p:first-child {
  color: #7158EF;
  letter-spacing: 3px;
  text-transform: uppercase;

  margin-bottom: 1.7rem;
}

h1 {
  font-weight: 800;
  font-size: 4.0rem;
  line-height: 4.8rem;

  margin-bottom: 1.5rem;
}

h1, 
ul,
a {
  color: #090039;
}

h1 + p {
  color: rgba(10, 0, 57, 0.64);
  margin-bottom: 3.2rem;
}

a {
  line-height: 3.2rem;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

ul {
  margin-top: 7.2rem;
}

ul li {
  list-style: none;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  gap: 3.8rem;

  max-width: 25.7rem;
  display: flex;
}

ul li + li {
  margin-top: 3.2rem;
}

ul li:first-child span {
  margin-right: 1.2rem;
}

ul li span {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8.0rem;
  letter-spacing: -2px;
}

/* media queries */
@media (min-width: 700px) {
  body {
    padding: 8.0rem 28.4rem 10.8rem 13.5rem;
  }

  main {
    max-width: 1021px;
    display: flex;
    gap: 10rem;
  }

  main > div {
    max-width: 484px;
  }

  ul li {
    gap: 5.3rem;
    max-width: 450px;
    align-items: center;
  }

  ul li + li {
    margin-top: 3.2rem;
  }
}
